/* root using CSS variables */
:root {
  --bronze: rgb(126, 82, 0); /* Local variable will override this global one */
}

/* Main Body */
body {
    background-color: lightcyan;
}

* {
  box-sizing: border-box;
}

/* may not need to keep, testing for smooth scroll with same page links */
@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

/* Headings */
h1, h2, h3, h4 {
    text-align: center;
    color: var(--bronze);
    text-shadow: 2px 2px rgb(197, 197, 197);
}

h1 {
    letter-spacing: 5px;
}

h2 {
    font-style: italic;
}  

h4 {
    float: left;
}

/* Nav Section */
.nav {
    margin: 20px;
    width: 100%;
}

nav {
   margin: 25px;
   text-align: center;
}

.navA {
    display: inline;
    font-size: 1em;
}

a {
    color: black;
    font-size: 1.5em;
}

/* Unvisited Link */
a:link {
    /* border: 1px inset black; */
    padding: 18px;
}

/* Visited Link */
a:visited {
    padding: 18px;
    color: red;
}

/* Mouse Over Link | A hover style MUST come after a:link and a:visited */
a:hover {
    background-color: white;
    padding: 18px;
    font-size: 150%;
}

/* Selected Link | An active style MUST come after a hover */
a:active {
    background-color: var(--bronze);
    padding: 18px;
}

/* Semantic Sections */
.header {
    border-style: inset;
    border-width: 5px;
}

.main {
    /* border-style: inset; */
    border-radius: 5px;
    flex: 45%;
}

.section {
    border-style: inset;
    border-radius: 10px;
    background-color: violet; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, #00ffff , #ff00ff);
}

.article {
    border-style: inset;
    border-radius: 10px;
}

.left {
  flex: 30%;
}

.aside {
    border-style: inset;
    border-radius: 10px;
    flex: 25%;
}

.footer {
    display: inline;
}

.bottom {
  background-color: purple;
  height: auto;
  width: 100%;
}

/* Small Details */
p {
    color: var(--bronze);
    font-family: Verdana, sans-serif;
    margin: 5px 10px;
}

.social {
    float: right;
}

#pinkTree {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}

#effects {
  width: 100px;
  height: 100px;
  background: rgba(122, 55, 186, .5);
  transition: width 2s, height 2s, transform 2s;
}

#effects:hover {
  width: 300px;
  height: 300px;
  transform: rotate(720deg);
}

#animate {
  width: 100px;
  height: 100px;
  background-color: skyblue;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-delay: 2s;
  animation-iteration-count: 3; /* Infinite (for continuous) */
}

@keyframes example {
  0%   {background-color:skyblue; left:0px; top:0px;}
  25%  {background-color:blue; left:200px; top:0px;}
  50%  {background-color: purple; left:200px; top:200px;}
  75%  {background-color: lightpink; left:0px; top:200px;}
  100% {background-color:orange; left:0px; top:0px;}
}

/* Various CSS Elements */

p.a {
    text-align-last: right;
  }
  
  p.b {
    text-align-last: center;
  }
  
  p.c {
    text-align-last: justify;
  }

  .weight {
    font-weight: bold;
  }

  #d {
    list-style-type: circle;
  }
  
  #e {
    list-style-type: square;
  }
  
  #f {
    list-style-type: upper-roman;
  }
  
  #g {
    list-style-type: lower-alpha;
  }
    
  ol {
    background: violet;
    padding: 20px;
  }
  
  ul {
    background: #3399ff;
    padding: 20px;
  }
  
  ol li {
    background: #ffe5e5;
    color: darkred;
    padding: 5px;
    margin-left: 35px;
  }
  
  ul li {
    background: #cce5ff;
    color: darkblue;
    margin: 5px;
  }

ol li:hover {
    background-color: black;
  }

ul li:hover {
  background-color: #00ffff;
}

.container {
  position: relative;
  width: 50%;
  margin: auto;
}

#guy:hover {
  color: white;
  font-size: auto;
  padding: auto;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  margin: auto;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform: scale(0.1)} 
  to {transform: scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  background-color: black;
  width: 50px;
  height: 50px;
  padding: auto;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.button {
  background-color: #ff00ff; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  width: 200px;
  height: auto;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 2px 4px 6px 8px;
}

.button:hover {
  background-color: #00ffff; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  width: 400px;
  height: auto;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border: 2px solid green;
  border-radius: 4px 8px 12px 16px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  opacity: .5;
}

.button {
  transition-duration: 2s;
  transform: translate(100px, 0px);
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

span {
  padding: auto;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  body {
    background-color: #b6ffc0;
  }
  .navA {
    margin: 0 3px;
  }
  .left {
    flex: 50%;
    max-width: 50%;
    padding: 20px;
  }
  .main {
    flex: 50%;
    max-width: 50%;
    padding: 20px;
  }
  .aside {
    flex: 100%;
    max-width: 100%;
    margin: 20px;
  }
}

@media screen and (max-width: 900px) {
  body {
    background-color: #f5c7f5
  }
  .flex-container {
    flex-direction: column;
  }
  .left, .main, .aside {
    flex: 100%;
    max-width: 100%;
  }
  .aside {
    margin: 20px;
  }
}

@media screen and (max-width: 600px) {
  body {
    background-color: white;
  }
  .navA {
    float: left;
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
    letter-spacing: 2px;
    background-color: #333;
  }
  .left, .main, .aside {
    flex: 100%;
    max-width: 100%;
  }
}

div.ex1 {
  margin: 20px;
  border: 1px solid black;
  outline: 4px solid purple;
  outline-offset: 15px;
  overflow: hidden;
} 

div.ex2 {
  margin: 10px;
  border: 1px solid black;
  outline: 5px dashed blue;
  outline-offset: 5px;
} 

.flex-container {
  display: flex;
  flex-wrap: wrap;
}
